* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  background-color: #9dd3e9;
  background-image: url(./assets/0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
}
